@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --main-bg: linear-gradient(to bottom right, #652CD1 -190%, #121826 75%, #652CD1 190%);
    --title: #E5E7EB;
    --label: #A1A1A9;
    --placeholder: #4D5562;
    --form-bg: #212936;
    --btn-bg: linear-gradient(#845EEE, #652CD1);

}

body,
h1,
h2,
h3,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: var(--main-bg);
    background-size: cover;
    color: #cbd5e1;
    font-family: 'Sora', sans-serif;
    line-height: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    width: 420px;
    height: 450px;
    border: 0.125rem solid var(--label);
    background-color: var(--form-bg);
    border-radius: 15px;

}

.form-container .form-title {
    font-size: 1.25rem;
    color: var(--title);
}

.form-container .input-container {
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 1.5rem;
}

.form-container label {
    margin-top: 1rem;
    font-size: 0.875rem;
}

.form-container .input-container input {
    width: 350px;
}

.input-container input {
    width: 100%;
    background: transparent;
    color: var(--title);
    outline: none;
    padding: 1rem;
    border-radius: 15px;
    border: 0.175rem solid var(--label);
    cursor: pointer;
}

.form-container .btn-submit {
    margin: 0 auto 1.5rem;
    background: var(--btn-bg);
    color: var(--title);
    font-size: 1rem;
    border-radius: 45px;
    width: 145px;
    padding: 0.5rem;
    border: none;
    cursor: pointer;
}

.form-container .warningParagraph {
    display: block;
    text-align: center;
    color: red;
    font-size: 1rem;
    margin-top: 1rem;
}

#step-1 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.dots {
    position: relative;
    top: 20px;
    left: -50px;
    display: flex;
    align-items: center;
    gap: 0.875rem;
}

.dots span {
    color: var(--placeholder);
}

.dots .dot {
    background-color: var(--placeholder);
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.dot.activeDot {
    background-color: #845EEE;
}

.summaryPara {
    color: #A1A1A9;
}

.summaryStyle {
    color: #E5E7EB;
}

.summaryTopic {
    color: #A1A1A9;
}

.summaryUl {
    color: #E5E7EB;
}

#step-1 {
    display: block;
}

.hidden {
    display: none;
}


.step-two-options {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.step-two-title {
    font-size: 1.3rem;
    margin-bottom: 2rem;
}


.step-two-option {
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    background: var(--placeholder);
    color: var(--title);
    outline: none;
    padding: 1rem;
    border-radius: 15px;
    border: 0.175rem solid var(--label);
    cursor: pointer;
}

.step-two-option.active {
    background-color: #845EEE;
    color: var(--title);
    border-radius: 15px;
}


.summaryTitle {
    position: relative;
    top: -30px;
    right: 60px;
    margin: 10px;
}

.step-3 div {
    position: relative;
    right: 30px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;

}

.step-3 div p {
    position: relative;
    right: 20px;
    top: -20px;

}

.step-3 div h2 {
    position: relative;
    right: 30px;
    margin: 10px;
}

.step-3 div ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 0.5rem;

}